@model IEnumerable<TareaGrupal.Models.Supplier>
<a href="/Supplier/Create">Agregar</a>
<h2>Proveedores</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Contacto</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Direccion</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var supplier in Model)
        {
            <tr>
                <td>@supplier.id</td>
                <td>@supplier.name</td>
                <td>@supplier.contact_name</td>
                <td>@supplier.phone</td>
                <td>@supplier.email</td>
                <td>@supplier.address</td>
                
                <td>
                    <a href="/Supplier/Edit/@supplier.id">Editar</a>
                    <a href="/Supplier/Delete/@supplier.id"> Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>